/* 
font-family: 'Damion', cursive;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Raleway', sans-serif;

*/

* {
	margin: 0;
	padding: 0;
	font-family: inherit;
	font-size: 10px; /* tell EVERYTHING  that reference a SOLID unit this well be referenced*/
	box-sizing: border-box;
}

/* -------------------------------------------------------------------------- */
/*                                     nav                                    */
/* -------------------------------------------------------------------------- */

header {
	background-color: grey;
	width: 100%; /*this can be changed*/
	height: 3rem; /* this will make size constant and not changing  */
}

#logo {
	font-family: "Damion", cursive;
	font-size: 2rem;
}
nav li,
nav a {
	text-decoration: none;
	list-style: none; /* remove bullet points and underline on a list*/
	font-size: 1.3rem;
	color: black;
}

.innerNav,
li,
#book {
	margin-right: 2rem;
	font-family: "Roboto Condensed", sans-serif;
	font-weight: 700; /*this is from link with google font weights in HTML page */
}
nav {
	width: 100%;
}

#search i,
#bag i {
	/* the i  is under the search so its a child */
	/* the i  is under the bag at child */
	font-size: 1.4rem;
}

#book i {
	margin-right: 0.5rem;
}

.innerNav,
a:hover,
#book a:hover {
	color: red;
}
/* -------------------------------------------------------------------------- */
/*                                  SECTION 1                                 */
/* -------------------------------------------------------------------------- */


.section1 {
	width: 100%;
	height: 100vh;
   
}
.firstInnerSection1 {
	width: 30%;
	height: 30%;
}
.firstInnerSection1 h1 {
	font-size: 10rem;
}
.firstInnerSection2 {
	width: 30%;
	height: 30%;
}
